<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension-point id="worldViewUpdater" name="World View Updater" schema="schema/worldViewUpdater.exsd"/>
   <extension-point id="worldViewRenderer" name="World View Renderer" schema="schema/worldViewRenderer.exsd"/>
   <extension-point id="propertiesObject" name="Properties Object" schema="schema/propertiesObject.exsd"/>
   <extension-point id="propertiesTile" name="Properties Tile" schema="schema/propertiesTile.exsd"/>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="LionEngine Editor"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="appName"
               value="LionEngine Editor">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://com.b3dgs.lionengine.editor/com.b3dgs.lionengine.editor.Manager">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.b3dgs.lionengine.editor.resource.music">
         <test
               property="com.b3dgs.lionengine.editor.resourceExtensionTester.music">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.resource.sound">
         <test
               property="com.b3dgs.lionengine.editor.resourceExtensionTester.sound">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.resource.image">
         <test
               property="com.b3dgs.lionengine.editor.resourceExtensionTester.image">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.resource.data">
         <test
               property="com.b3dgs.lionengine.editor.resourceExtensionTester.data">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.resource.level">
         <test
               property="com.b3dgs.lionengine.editor.resourceExtensionTester.level">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.map.test">
         <test
               property="com.b3dgs.lionengine.editor.mapTester.test">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.folder-type.category">
         <test
               property="com.b3dgs.lionengine.editor.folderTypeTester.category">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.objects-folder.addObject">
         <test
               property="com.b3dgs.lionengine.editor.objectsFolderTester.addObject">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.objects-folder.isObject">
         <test
               property="com.b3dgs.lionengine.editor.objectsFolderTester.isObject">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.tile-collision-editor.test">
         <test
               property="com.b3dgs.lionengine.editor.mapImplementationTester.test">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.sheets.add">
         <test
               property="com.b3dgs.lionengine.editor.sheetsTester.addSheets">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.sheets.edit">
         <test
               property="com.b3dgs.lionengine.editor.sheetsTester.editSheets">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.groups.add">
         <test
               property="com.b3dgs.lionengine.editor.groupsTester.addGroups">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.groups.edit">
         <test
               property="com.b3dgs.lionengine.editor.groupsTester.editGroups">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.formulas.add">
         <test
               property="com.b3dgs.lionengine.editor.formulasTester.addFormulas">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.formulas.edit">
         <test
               property="com.b3dgs.lionengine.editor.formulasTester.editFormulas">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.collisions.add">
         <test
               property="com.b3dgs.lionengine.editor.collisionsTester.addCollisions">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.collisions.edit">
         <test
               property="com.b3dgs.lionengine.editor.collisionsTester.editCollisions">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.properties.setSurface">
         <test
               property="com.b3dgs.lionengine.editor.propertiesTesterSurface.setSurface">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.properties.removeSurface">
         <test
               property="com.b3dgs.lionengine.editor.propertiesTesterSurface.removeSurface">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.properties.setIcon">
         <test
               property="com.b3dgs.lionengine.editor.propertiesTesterSurface.setIcon">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.properties.removeIcon">
         <test
               property="com.b3dgs.lionengine.editor.propertiesTesterSurface.removeIcon">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.properties.enableAnimations">
         <test
               property="com.b3dgs.lionengine.editor.propertiesTesterAnimations.enableAnimations">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.properties.editAnimations">
         <test
               property="com.b3dgs.lionengine.editor.propertiesTesterAnimations.editAnimations">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.properties.disableAnimations">
         <test
               property="com.b3dgs.lionengine.editor.propertiesTesterAnimations.disableAnimations">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.properties.enableCollisions">
         <test
               property="com.b3dgs.lionengine.editor.propertiesTesterCollisions.enableCollisions">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.properties.editCollisions">
         <test
               property="com.b3dgs.lionengine.editor.propertiesTesterCollisions.editCollisions">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.properties.disableCollisions">
         <test
               property="com.b3dgs.lionengine.editor.propertiesTesterCollisions.disableCollisions">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.properties.setFrames">
         <test
               property="com.b3dgs.lionengine.editor.propertiesTesterFrames.setFrames">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.properties.removeFrames">
         <test
               property="com.b3dgs.lionengine.editor.propertiesTesterFrames.removeFrames">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.properties.addFormula">
         <test
               property="com.b3dgs.lionengine.editor.propertiesTesterTileCollision.addFormula">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.properties.removeFormula">
         <test
               property="com.b3dgs.lionengine.editor.propertiesTesterTileCollision.removeFormula">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.properties.editFormula">
         <test
               property="com.b3dgs.lionengine.editor.propertiesTesterTileCollision.editFormula">
         </test>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.b3dgs.lionengine.editor.project.tester.ResourceExtensionTester"
            id="com.b3dgs.lionengine.editor.resourceExtensionTester"
            namespace="com.b3dgs.lionengine.editor.resourceExtensionTester"
            properties="music,sound,data,image,level"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.b3dgs.lionengine.editor.world.tester.MapTester"
            id="com.b3dgs.lionengine.editor.mapTester"
            namespace="com.b3dgs.lionengine.editor.mapTester"
            properties="test"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.b3dgs.lionengine.editor.project.tester.SheetsTester"
            id="com.b3dgs.lionengine.editor.sheetsTester"
            namespace="com.b3dgs.lionengine.editor.sheetsTester"
            properties="addSheets,editSheets"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.b3dgs.lionengine.editor.project.tester.GroupsTester"
            id="com.b3dgs.lionengine.editor.groupsTester"
            namespace="com.b3dgs.lionengine.editor.groupsTester"
            properties="addGroups,editGroups"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.b3dgs.lionengine.editor.project.tester.FormulasTester"
            id="com.b3dgs.lionengine.editor.formulasTester"
            namespace="com.b3dgs.lionengine.editor.formulasTester"
            properties="addFormulas,editFormulas"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.b3dgs.lionengine.editor.project.tester.CollisionsTester"
            id="com.b3dgs.lionengine.editor.collisionsTester"
            namespace="com.b3dgs.lionengine.editor.collisionsTester"
            properties="addCollisions,editCollisions"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.b3dgs.lionengine.editor.project.tester.ObjectsTester"
            id="com.b3dgs.lionengine.editor.entitiesFolderTester"
            namespace="com.b3dgs.lionengine.editor.objectsFolderTester"
            properties="addObject,isObject"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.b3dgs.lionengine.editor.properties.animation.PropertiesAnimationTester"
            id="com.b3dgs.lionengine.editor.propertiesTesterAnimations"
            namespace="com.b3dgs.lionengine.editor.propertiesTesterAnimations"
            properties="enableAnimations,editAnimations,disableAnimations"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.b3dgs.lionengine.editor.properties.collision.PropertiesCollisionTester"
            id="com.b3dgs.lionengine.editor.propertiesTesterCollisions"
            namespace="com.b3dgs.lionengine.editor.propertiesTesterCollisions"
            properties="enableCollisions,editCollisions,disableCollisions"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.b3dgs.lionengine.editor.properties.surface.PropertiesSurfaceTester"
            id="com.b3dgs.lionengine.editor.propertiesTesterSurface"
            namespace="com.b3dgs.lionengine.editor.propertiesTesterSurface"
            properties="setSurface,removeSurface,setIcon,removeIcon"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.b3dgs.lionengine.editor.properties.frames.PropertiesFramesTester"
            id="com.b3dgs.lionengine.editor.propertiesTesterFrames"
            namespace="com.b3dgs.lionengine.editor.propertiesTesterFrames"
            properties="setFrames,removeFrames"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.b3dgs.lionengine.editor.properties.tilecollision.PropertiesTileCollisionTester"
            id="com.b3dgs.lionengine.editor.propertiesTesterTileCollision"
            namespace="com.b3dgs.lionengine.editor.propertiesTesterTileCollision"
            properties="addFormula,removeFormula,editFormula"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.b3dgs.lionengine.editor.project.tester.SheetsTester"
            id="com.b3dgs.lionengine.editor.sheetsTester"
            namespace="com.b3dgs.lionengine.editor.sheetsTester"
            properties="addSheets,editSheets"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="com.b3dgs.lionengine.editor.propertiesObject">
      <implementation
            class="com.b3dgs.lionengine.editor.properties.clazz.PropertiesClass">
      </implementation>
      <implementation
            class="com.b3dgs.lionengine.editor.properties.surface.PropertiesSurface">
      </implementation>
      <implementation
            class="com.b3dgs.lionengine.editor.properties.frames.PropertiesFrames">
      </implementation>
      <implementation
            class="com.b3dgs.lionengine.editor.properties.animation.PropertiesAnimation">
      </implementation>
      <implementation
            class="com.b3dgs.lionengine.editor.properties.collision.PropertiesCollision">
      </implementation>
      <implementation
            class="com.b3dgs.lionengine.editor.properties.collisioncategory.PropertiesCollisionCategory">
      </implementation>
   </extension>
   <extension
         point="com.b3dgs.lionengine.editor.propertiesTile">
      <implementation
            class="com.b3dgs.lionengine.editor.properties.tile.PropertiesTile">
      </implementation>
      <implementation
            class="com.b3dgs.lionengine.editor.properties.tilecollision.PropertiesTileCollision">
      </implementation>
   </extension>

</plugin>
