/bin
/target
/doc
/build
/dist
/extra
*.class
*xml.versionsBackup
.project
jacoco-ut.exec
org.eclipse.core.resources.prefs
org.eclipse.m2e.core.prefs
org.sonar.ide.eclipse.core.prefs
.classpath
.checkstyle
.lionengine
.sonar
built-jar.properties
