<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="LionEngine Target Platform" sequenceNumber="12">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rcp.feature.group" version="4.4.0.v20140925-0400"/>
<unit id="org.eclipse.jdt.feature.group" version="3.10.0.v20140925-0400"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.10.0.v20140909-1633"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.4"/>
</location>
</locations>
</target>
