<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id="com.b3dgs.lionengine.editor.animation.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.b3dgs.lionengine.editor.properties.setSurface">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.propertiesTesterSurface.setSurface">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.properties.removeSurface">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.propertiesTesterSurface.removeSurface">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.properties.setIcon">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.propertiesTesterSurface.setIcon">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.properties.removeIcon">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.propertiesTesterSurface.removeIcon">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.properties.setFrames">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.propertiesTesterFrames.setFrames">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.properties.removeFrames">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.propertiesTesterFrames.removeFrames">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.properties.enableAnimations">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.propertiesTesterAnimations.enableAnimations">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.properties.editAnimations">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.propertiesTesterAnimations.editAnimations">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.properties.disableAnimations">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.propertiesTesterAnimations.disableAnimations">
         </test>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.b3dgs.lionengine.editor.surface.properties.PropertiesSurfaceTester"
            id="com.b3dgs.lionengine.editor.propertiesTesterSurface"
            namespace="com.b3dgs.lionengine.editor.propertiesTesterSurface"
            properties="setSurface,removeSurface,setIcon,removeIcon"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.b3dgs.lionengine.editor.frame.properties.PropertiesFramesTester"
            id="com.b3dgs.lionengine.editor.propertiesTesterFrames"
            namespace="com.b3dgs.lionengine.editor.propertiesTesterFrames"
            properties="setFrames,removeFrames"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.b3dgs.lionengine.editor.animation.properties.PropertiesAnimationTester"
            id="com.b3dgs.lionengine.editor.propertiesTesterAnimations"
            namespace="com.b3dgs.lionengine.editor.propertiesTesterAnimations"
            properties="enableAnimations,editAnimations,disableAnimations"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="com.b3dgs.lionengine.editor.propertiesObject">
      <implementation
            class="com.b3dgs.lionengine.editor.surface.properties.PropertiesSurface">
      </implementation>
      <implementation
            class="com.b3dgs.lionengine.editor.frame.properties.PropertiesFrames">
      </implementation>
      <implementation
            class="com.b3dgs.lionengine.editor.animation.properties.PropertiesAnimation">
      </implementation>
   </extension>
</plugin>
