<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id="com.b3dgs.lionengine.editor.map.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.b3dgs.lionengine.editor.map.test">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.mapTester.test">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.sheets.add">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.sheetsTester.addSheets">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.sheets.edit">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.sheetsTester.editSheets">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.groups.add">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.groupsTester.addGroups">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.groups.edit">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.groupsTester.editGroups">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.minimap.add">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.minimapTester.addMinimap">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.minimap.edit">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.minimapTester.editMinimap">
         </test>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.b3dgs.lionengine.editor.map.MapTester"
            id="com.b3dgs.lionengine.editor.mapTester"
            namespace="com.b3dgs.lionengine.editor.mapTester"
            properties="test"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.b3dgs.lionengine.editor.map.sheet.SheetsTester"
            id="com.b3dgs.lionengine.editor.sheetsTester"
            namespace="com.b3dgs.lionengine.editor.sheetsTester"
            properties="addSheets,editSheets"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.b3dgs.lionengine.editor.map.group.GroupsTester"
            id="com.b3dgs.lionengine.editor.groupsTester"
            namespace="com.b3dgs.lionengine.editor.groupsTester"
            properties="addGroups,editGroups"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.b3dgs.lionengine.editor.map.minimap.MinimapTester"
            id="com.b3dgs.lionengine.editor.minimapTester"
            namespace="com.b3dgs.lionengine.editor.minimapTester"
            properties="addMinimap,editMinimap"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="com.b3dgs.lionengine.editor.resourceChecker">
      <implementation
            class="com.b3dgs.lionengine.editor.map.group.GroupResource">
      </implementation>
      <implementation
            class="com.b3dgs.lionengine.editor.map.sheet.SheetResource">
      </implementation>
      <implementation
            class="com.b3dgs.lionengine.editor.map.minimap.MinimapResource">
      </implementation>
   </extension>
   <extension
         point="com.b3dgs.lionengine.editor.propertiesTile">
      <implementation
            class="com.b3dgs.lionengine.editor.map.tile.PropertiesTile">
      </implementation>
   </extension>
   <extension
         point="com.b3dgs.lionengine.editor.worldRenderListener">
      <implementation
            class="com.b3dgs.lionengine.editor.map.world.renderer.WorldSelectedTiles">
      </implementation>
   </extension>
   <extension
         point="com.b3dgs.lionengine.editor.worldMouseClickListener">
      <implementation
            class="com.b3dgs.lionengine.editor.map.world.updater.WorldInteractionTile">
      </implementation>
   </extension>
   <extension
         point="com.b3dgs.lionengine.editor.worldMouseMoveListener">
      <implementation
            class="com.b3dgs.lionengine.editor.map.world.updater.WorldInteractionTile">
      </implementation>
   </extension>
</plugin>
