<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id="com.b3dgs.lionengine.editor.pathfinding.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.b3dgs.lionengine.editor.pathfinding.add">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.pathfinding.pathfindingTester.addPathfinding">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.pathfinding.edit">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.pathfinding.pathfindingTester.editPathfinding">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.pathfinding.properties.enablePathfindable">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.pathfinding.propertiesTesterPathfindable.enablePathfindable">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.pathfinding.properties.editPathfindable">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.pathfinding.propertiesTesterPathfindable.editPathfindable">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.pathfinding.properties.disablePathfindable">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.pathfinding.propertiesTesterPathfindable.disablePathfindable">
         </test>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            properties="addPathfinding,editPathfinding"
            namespace="com.b3dgs.lionengine.editor.pathfinding.pathfindingTester"
            type="java.lang.Object"
            class="com.b3dgs.lionengine.editor.pathfinding.project.PathfindingTester"
            id="com.b3dgs.lionengine.editor.pathfinding.pathfindingTester">
      </propertyTester>
      <propertyTester
            properties="enablePathfindable,editPathfindable,disablePathfindable"
            namespace="com.b3dgs.lionengine.editor.pathfinding.propertiesTesterPathfindable"
            type="java.lang.Object"
            class="com.b3dgs.lionengine.editor.pathfinding.properties.PropertiesPathfindableTester"
            id="com.b3dgs.lionengine.editor.pathfinding.propertiesTesterPathfindable">
      </propertyTester>
   </extension>
   <extension
         point="com.b3dgs.lionengine.editor.propertiesObject">
      <implementation
            class="com.b3dgs.lionengine.editor.pathfinding.properties.PropertiesPathfindable">
      </implementation>
   </extension>
   <extension
         point="com.b3dgs.lionengine.editor.resourceChecker">
      <implementation
            class="com.b3dgs.lionengine.editor.pathfinding.project.PathfindingResource">
      </implementation>
   </extension>
</plugin>
