<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.b3dgs.sample"
    android:versionCode="010"
    android:versionName="0.1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="25" />
    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="Sample Project"
        android:largeHeap="true"
        android:allowBackup="false"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity android:name=".android.ActivitySample" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
