<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="%product.name"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/com.b3dgs.lionengine.editor/css/default.css">
         </property>
         <property
               name="appName"
               value="LionEngine Editor">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://com.b3dgs.lionengine.editor/com.b3dgs.lionengine.editor.Manager">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.b3dgs.lionengine.editor.resource.music">
         <test
               property="com.b3dgs.lionengine.editor.resourceExtensionTester.music">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.resource.sound">
         <test
               property="com.b3dgs.lionengine.editor.resourceExtensionTester.sound">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.resource.image">
         <test
               property="com.b3dgs.lionengine.editor.resourceExtensionTester.image">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.resource.data">
         <test
               property="com.b3dgs.lionengine.editor.resourceExtensionTester.data">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.resource.level">
         <test
               property="com.b3dgs.lionengine.editor.resourceExtensionTester.level">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.resource.map_impl">
         <test
               property="com.b3dgs.lionengine.editor.resourceExtensionTester.map_impl">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.map-implementation.test">
         <test
               property="com.b3dgs.lionengine.editor.mapImplementationTester.test">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.resource.factory_entity_impl">
         <test
               property="com.b3dgs.lionengine.editor.resourceExtensionTester.factory_entity_impl">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.entities-folder.category">
         <test
               property="com.b3dgs.lionengine.editor.entitiesFolderTester.category">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.entities-folder.addEntity">
         <test
               property="com.b3dgs.lionengine.editor.entitiesFolderTester.addEntity">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.entities-folder.isEntity">
         <test
               property="com.b3dgs.lionengine.editor.entitiesFolderTester.isEntity">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.entities-folder.editEntity">
         <test
               property="com.b3dgs.lionengine.editor.entitiesFolderTester.editEntity">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.tile-collision-editor.test">
         <test
               property="com.b3dgs.lionengine.editor.mapImplementationTester.test">
         </test>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.b3dgs.lionengine.editor.project.ResourceExtensionTester"
            id="com.b3dgs.lionengine.editor.resourceExtensionTester"
            namespace="com.b3dgs.lionengine.editor.resourceExtensionTester"
            properties="music,sound,data,image,level,map_impl,factory_entity_impl"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.b3dgs.lionengine.editor.project.MapImplementationTester"
            id="com.b3dgs.lionengine.editor.mapImplementationTester"
            namespace="com.b3dgs.lionengine.editor.mapImplementationTester"
            properties="test"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.b3dgs.lionengine.editor.project.EntitiesFolderTester"
            id="com.b3dgs.lionengine.editor.entitiesFolderTester"
            namespace="com.b3dgs.lionengine.editor.entitiesFolderTester"
            properties="category,addEntity,isEntity,editEntity"
            type="java.lang.Object">
      </propertyTester>
   </extension>

</plugin>
