<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id="com.b3dgs.lionengine.editor.object.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.b3dgs.lionengine.editor.objects-folder.addObject">
         <test
               property="com.b3dgs.lionengine.editor.objectsFolderTester.addObject">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.objects-folder.isObject">
         <test
               property="com.b3dgs.lionengine.editor.objectsFolderTester.isObject">
         </test>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.b3dgs.lionengine.editor.object.ObjectsTester"
            id="com.b3dgs.lionengine.editor.entitiesFolderTester"
            namespace="com.b3dgs.lionengine.editor.objectsFolderTester"
            properties="addObject,isObject"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="com.b3dgs.lionengine.editor.propertiesObject">
      <implementation
            class="com.b3dgs.lionengine.editor.object.properties.clazz.PropertiesClass">
      </implementation>
      <implementation
            class="com.b3dgs.lionengine.editor.object.properties.setup.PropertiesSetup">
      </implementation>
   </extension>
      <extension
         point="com.b3dgs.lionengine.editor.resourceChecker">
      <implementation
            class="com.b3dgs.lionengine.editor.object.ObjectResource">
      </implementation>
   </extension>
   <extension
         point="com.b3dgs.lionengine.editor.worldRenderListener">
      <implementation
            class="com.b3dgs.lionengine.editor.object.world.renderer.WorldSelectedObjects">
      </implementation>
   </extension>
   <extension
         point="com.b3dgs.lionengine.editor.worldMouseClickListener">
      <implementation
            class="com.b3dgs.lionengine.editor.object.world.updater.WorldInteractionObject">
      </implementation>
   </extension>
   <extension
         point="com.b3dgs.lionengine.editor.worldMouseMoveListener">
      <implementation
            class="com.b3dgs.lionengine.editor.object.world.updater.WorldInteractionObject">
      </implementation>
   </extension>
</plugin>
