<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id="com.b3dgs.lionengine.editor.collision.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.b3dgs.lionengine.editor.map.collision">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.mapTester.collision">
         </test>
      </definition>
	  <definition
            id="com.b3dgs.lionengine.editor.tile-collision-editor.test">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.mapImplementationTester.test">
         </test>
      </definition>
	  <definition
            id="com.b3dgs.lionengine.editor.formulas.add">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.formulasTester.addFormulas">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.formulas.edit">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.formulasTester.editFormulas">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.collisions.add">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.collisionsTester.addCollisions">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.collisions.edit">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.collisionsTester.editCollisions">
         </test>
      </definition>
	  <definition
            id="com.b3dgs.lionengine.editor.properties.enableCollisions">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.propertiesTesterCollisions.enableCollisions">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.properties.editCollisions">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.propertiesTesterCollisions.editCollisions">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.properties.disableCollisions">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.propertiesTesterCollisions.disableCollisions">
         </test>
      </definition>
	  <definition
            id="com.b3dgs.lionengine.editor.properties.addFormula">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.propertiesTesterTileCollision.addFormula">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.properties.removeFormula">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.propertiesTesterTileCollision.removeFormula">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionengine.editor.properties.editFormula">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.propertiesTesterTileCollision.editFormula">
         </test>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.b3dgs.lionengine.editor.collision.map.imports.MapCollisionTester"
            id="com.b3dgs.lionengine.editor.mapTester"
            namespace="com.b3dgs.lionengine.editor.mapTester"
            properties="collision"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.b3dgs.lionengine.editor.formula.project.FormulaTester"
            id="com.b3dgs.lionengine.editor.formulasTester"
            namespace="com.b3dgs.lionengine.editor.formulasTester"
            properties="addFormulas,editFormulas"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.b3dgs.lionengine.editor.collision.project.CollisionsTester"
            id="com.b3dgs.lionengine.editor.collisionsTester"
            namespace="com.b3dgs.lionengine.editor.collisionsTester"
            properties="addCollisions,editCollisions"
            type="java.lang.Object">
      </propertyTester>
	  <propertyTester
            class="com.b3dgs.lionengine.editor.collision.properties.PropertiesCollisionTester"
            id="com.b3dgs.lionengine.editor.propertiesTesterCollisions"
            namespace="com.b3dgs.lionengine.editor.propertiesTesterCollisions"
            properties="enableCollisions,editCollisions,disableCollisions"
            type="java.lang.Object">
      </propertyTester>
	  <propertyTester
            class="com.b3dgs.lionengine.editor.formula.properties.PropertiesFormulaTester"
            id="com.b3dgs.lionengine.editor.propertiesTesterTileCollision"
            namespace="com.b3dgs.lionengine.editor.propertiesTesterTileCollision"
            properties="addFormula,removeFormula,editFormula"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="com.b3dgs.lionengine.editor.propertiesObject">
      <implementation
            class="com.b3dgs.lionengine.editor.collision.properties.PropertiesCollision">
      </implementation>
      <implementation
            class="com.b3dgs.lionengine.editor.collisioncategory.properties.PropertiesCollisionCategory">
      </implementation>
   </extension>
   <extension
         point="com.b3dgs.lionengine.editor.propertiesTile">
      <implementation
            class="com.b3dgs.lionengine.editor.formula.properties.PropertiesFormula">
      </implementation>
   </extension>
   <extension
         point="com.b3dgs.lionengine.editor.resourceChecker">
      <implementation
            class="com.b3dgs.lionengine.editor.collision.CollisionResource">
      </implementation>
      <implementation
            class="com.b3dgs.lionengine.editor.formula.FormulaResource">
      </implementation>
   </extension>
   <extension
         point="com.b3dgs.lionengine.editor.worldMouseClickListener">
      <implementation
            class="com.b3dgs.lionengine.editor.world.updater.WorldInteractionTileCollision">
      </implementation>
   </extension>
   <extension
         point="com.b3dgs.lionengine.editor.worldMouseMoveListener">
      <implementation
            class="com.b3dgs.lionengine.editor.world.updater.WorldInteractionTileCollision">
      </implementation>
   </extension>
   <extension
         point="com.b3dgs.lionengine.editor.worldRenderListener">
      <implementation
            class="com.b3dgs.lionengine.editor.world.renderer.WorldSelectedTilesCollision">
      </implementation>
   </extension>
</plugin>
