<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Sample Target Platform" sequenceNumber="24">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jdt.source.feature.group" version="3.11.0.v20150603-2000"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.11.0.v20150602-1417"/>
<unit id="org.eclipse.rcp.feature.group" version="4.5.0.v20150603-2331"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.5"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.b3dgs.lionengine.core.swt" version="8.2.3.201603121701"/>
<unit id="com.b3dgs.lionengine.editor" version="8.2.3.201603121701"/>
<repository location="jar:file:/C:/Users/DjThunder/git/lionengine/com.b3dgs.lionengine.repository/target/com.b3dgs.lionengine.repository-8.3.0-SNAPSHOT.zip!/"/>
</location>
</locations>
</target>
